body {
    background-image: url("../sunset.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: grid;
}